[submodule "homework-5/HomeworkFive/lib/forge-std"]
	path = homework-5/HomeworkFive/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "homework-6/HomeworkSix/lib/forge-std"]
	path = homework-6/HomeworkSix/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
